{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    <h1>Car index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Marque</th>
                <th>Prix</th>
                <th>Site</th>
                <th>img</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.titre }}</td>
                <td>{{ car.marque }}</td>
                <td>{{ car.prix }}</td>
                <td>{{ car.site }}</td>
                <td>{{ car.img }}</td>
                <td>
                    <a href="{{ path('app_car_show', {'id': car.id}) }}">show</a>
                    <a href="{{ path('app_car_edit', {'id': car.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_car_new') }}">Create new</a>
{% endblock %}
